body{
    background: linear-gradient(to right,rgb(9, 8, 8),blue);
    color: white;
}
.clock{
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45vh;
}
.display{
    border: 2px solid white;
    padding:50px;
    border-radius: 10px;
   width: 80px;
}